*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
.container{
    min-height: 140vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    background:linear-gradient(to right, #041308 ,#0b3317);
}
.left{
    flex-basis: 30%;
}
.heading{
    font-size: 2.5rem;
    color: rgb(175, 199, 145);
    text-align: center;
}
.subheading{
    font-size: 1rem;
    color: rgb(122, 178, 178);
    text-align: center;
}
.gally{
    flex-basis: 50%;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 145px;
}
.box{
    background-size: cover;
    background-position: top;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode:difference;
    transition:all 1.2s ease-in-out;
}
.box:hover{
    background-color: #000000;
    background-position: center;
    box-shadow: 0 0 4px rgb(255, 255, 255);
}
.cs{
    grid-column:span 2;
}
.rs{
    grid-row: span 2;
}

@media screen and (max-width: 1024px){
    .container{
        flex-direction: column;
        padding-block: 12px;
    }
    .gally{
        margin-top: 10px;
        width: 100%;
        padding-inline: 10px;
        grid-auto-rows: 240px;
    }
    .box{
         grid-row: span 1;
         grid-column: span 3;
    }
    /* Add a new class for the hover effect */
    .box:hover, .box.mobile-hover {
        background-color: #000000;
        background-position: center;
        box-shadow: 0 0 4px rgb(255, 255, 255);
    }
}
